/*MIX*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #6F6F6F;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
}
span {
  font-family: 'Montserrat', sans-serif;
}
.d_flex {
  display:flex;
}
.d_flex_a_cent {
  display: flex;
  align-items: center;
}
.font_20 {
  font-size: 20px;
}
.font_700 {
  font-weight: 700;
}
.wrapper {
  height: 100vh;
  background-color: black;
}
.list-none {
  list-style: none;
}
.m_top_20 {
  margin-top: 20px;
}
.m_bottom_20 {
  margin-bottom: 20px;
}
.padding_20 {
  padding: 20px;
}
.txt_upper {
  text-transform: uppercase;
}
.white {
  color: #fff;
}
.width_100 {
  width: 100%;
}
.color_grey {
  color: #6F6F6F;
}
.lg_grey {
  color: #D2D2D2;
}
.relative {
  position: relative;
}
.width_40 {
  width:40%;
}
.width_80 {
  width:80%;
}
.width_25 {
  width:25%;
}
.width_15 {
  width:15%;
}
/* /MIX*/

/*MAIN*/
main {
  height: calc(100% - 80px);
}
/* aside*/
main a {
  transition: color 0.5s;
}
main a:hover {
  color:#fff;
  text-decoration: none;
}
aside {
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: #000;
  color: #6F6F6F;
  position: relative;
  padding: 0 30px;
  line-height: 35px;
  overflow: hidden;
}
.logo {
  width: 100px;
  display: block;
}
.icon {
  width: 30px;
  display: none;
}
.icons li {
  padding-left: 28px;
  border-left: 2px solid transparent;
}
.icons li:first-child {
  border-left: 2px solid #ADFF2F;
}
.playlist_list{
  height: 100%;
  overflow:hidden;
}
.create {
  height: 70px;
}
.create span::before {
  font-family: "Font Awesome 5 Free";
  content:"\f0fe";
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  color: #D2D2D2;
  margin-right: 15px;
}
.personal_playlist {
  height: calc(100% - 70px);
  overflow-y: auto;
}
@media screen and (max-width:552px) {
  aside {
    width: 50px;
    padding: 0;
    text-align: center;
  }
  .links {
    width: 50px;
    padding: 0;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .icon {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
  .d-xs-none {
    display: none;
  }
  .icons i {
    width: 30px;
  }
}
/* menu_bottom*/
.install {
  padding-bottom: 10px;
}
.download {
  width: 15%;
}
.profile {
  border-top: 1px solid #6F6F6F;
  padding-top: 10px;
}
.fa-user-circle {
  font-size: 2rem;
}
.profile span {
  font-size: 25px;
}
@media screen and (max-width:552px) {
  .profile {
    border: none;
  }
  .install img, .profile i {
    width: 100%;
    text-align: left;
  }
  .menu_bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* /menu_bottom*/
/* /aside*/
/* playlist*/
.playlist {
  height: 100%;
  width: calc(100% - 300px);
  background-color: #141922;
  position: relative;
  overflow: auto;
}
.upgrade {
  height: 70px;
  width: calc(100% - 300px);
  background-color: rgba(0,0,0,0.5);
  text-align: right;
  line-height: 70px;
  position: fixed;
  top: 0;
  right: 0;
}
.btn_upgrade {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 25px;
  margin-right: 5px;
  font-size: 14px;
}
.btn_upgrade:hover {
  font-size: 18px;
}
.menu_playlist {
  margin-top: 80px;
}
.menu_playlist li:active:after {
  content:"";
  width: 40px;
  height: 2px;
  background-color: #ADFF2F;
  display: block;
  margin:auto;
}
.menu_style {
  justify-content: center;
  flex-wrap: wrap;
}
.menu_style li {
  padding: 0 10px;
}
.menu_style li:first-child::after {
  content:"";
  width: 40px;
  height: 2px;
  background-color: #ADFF2F;
  display: block;
  margin:auto;
}
.picture {
  display: inline-block;
  width: calc((100% - 70px) / 6);
  vertical-align: top;
  padding: 0 10px;
}
.picture img {
  width: 100%;
  vertical-align: baseline;
}
.small_wrapper h4 {
  font-size: 14px;
  line-height: 15px;
}
.small_wrapper p {
  font-size: 12px;
  color: #D2D2D2;
}
.overlay {
  background-color: rgba(0,0,0,0.5);
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  display:none;
}
.overlay .fa-play-circle {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
.image:hover .overlay{
  display: block;
}
@media screen and (min-width:640px) and (max-width:878px) {
  .picture {
    width: calc((100% - 70px) / 4);
  }
}
@media screen and (max-width:639px) {
  .playlist {
    width: calc(100% - 50px);
  }
  .upgrade {
  width: calc(100% - 168px);
  }
  .picture {
  width: calc((100% - 70px) / 2);
  }
}
@media screen and (max-width:552px) {
  .upgrade {
  width: calc(100% - 50px);
  }
}
/* /playlist*/
/* /MAIN*/
/* FOOTER*/
footer {
  height: 80px;
  background-color: #282828;
}
footer .small_wrapper {
  justify-content: space-between;
}
.artist {
  width: 25%;
  padding: 10px;
}
.artist img {
  max-height: 50px;
  vertical-align: middle;
}
.title {
  padding: 0 20px 0 10px;
  width:60%;
}
.title h4 {
  margin-bottom: 0;
  font-size: 12px;
}
.title p {
  margin-bottom: 0;
  font-size: 10px;
}
.preference a:hover i{
  color: #fff;
}
.fa-heart {
  padding-right: 3px;
}
.fa-folder {
  padding-left: 3px;
}
.player {
  width: 50%;
}
.play {
  justify-content: center;
}
.play i {
  padding: 5px 20px;
}
footer .fa-play-circle {
  font-size: 30px;
}
footer .fa-play-circle:hover {
  font-size: 40px;
}
.bar {
  justify-content: space-around;
}
.bar p {
  margin: 0;
}
.bar_tab {
  height:4px;
  background-color: #6F6F6F;
  border-radius: 5px;
}
.bar_up {
  height:4px;
  background-color: #D2D2D2;
  border-radius: 5px;
}
.overlay_green {
  background-color: #ADFF2F;
  display: none;
  position:relative;
}
.overlay_green:after {
  content:"";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
}
.bar_tab:hover .overlay_green{
  display:block;
}
.settings {
  width: 25%;
  justify-content: flex-end;
}
.settings > * {
  margin: 0 8px;
}
@media screen and (max-width:638px) {
  .player, .artist, .settings {
    width: calc(100% / 3);
    padding-top: 10px;
  }
  .play i {
    padding: 5px 10px;
    font-size: 15px;
  }
  .fa-play-circle {
    font-size: 20px;
  }
  .fa-play-circle:hover {
    font-size: 30px;
  }
  .bar_tab {
    width: 60%;
  }
  .time p {
    color: #fff;
  }
}
/* /FOOTER*/
